@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MailDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Mailbox</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Admin/Message/ComposeMessage/">Mesaj Kutusu</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/Message/InBox/"> <i class="fa fa-inbox "></i> Gelen Mesajlar </a></li>
                                <li><a href="/Admin/Message/SendBox/"> <i class="fa fa-envelope-o"></i> Giden Mesajlar</a></li>
                                <li><a href="#"> <i class="fa fa-certificate"></i> Önemli Mesajlar</a></li>
                               
                                <li><a href="#"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
                            </ul>
                            <h5>Kategoriler</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="#"> <i class="fa fa-circle text-navy"></i> İş </a></li>
                                <li><a href="#"> <i class="fa fa-circle text-danger"></i> Dokümanlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-primary"></i> Sosyal</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-info"></i> Tanıtımlar</a></li>
                                <li><a href="#"> <i class="fa fa-circle text-warning"></i> Talepler</a></li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>
                        Mesaj Detayları
                    </h2>

                    <div class="mail-tools tooltip-demo m-t-md">
                        <h3>
                            <span class="font-normal">Konu: </span>@Model.Subject
                        </h3>
                        <h5>

                            <span class="font-normal">Gönderen: </span>@Model.SenderUser.WriterMail
                            <br/>
                            <span class="font-normal">Alıcı: </span>@Model.ReceiverUser.WriterMail
                            <br />
                            <span class="float-right font-normal">@Model.MessageDate.ToString("dd-MMM-yyyy")</span>
                        </h5>
                    </div>
                </div>
                <div class="mail-box">

                    <div class="mail-body">
                        <p>              
                            @Model.MessageDetails
                        </p>
                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <a class="btn btn-sm btn-white" href="/Admin/Message/ComposeMessage?replyToID=@Model.MessageID"><i class="fa fa-reply"></i> Yanıtla</a>
                        <a class="btn btn-sm btn-white" href="#"><i class="fa fa-arrow-right"></i> Forward</a>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Yenile</button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Okundu olarak işaretle"><i class="fa fa-eye"></i> </button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Önemli olarak işaretle"><i class="fa fa-exclamation"></i> </button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Çöp kutusuna taşı"><i class="fa fa-trash-o"></i> </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>


